* {
    padding: 0%;
    margin: 0%;
    /* background-color: rgba(11, 117, 46, 0.85); */
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
}

h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h4 {
    font-family: 'Satisfy', cursive;
}

h5 {
    font-family: 'Caveat', cursive;
}


/* <<<<<<<<<<<<<<<<<<<<=================== Contact Div start here ================>>>>>>>>>>>>>> */

.contact_search_box {
    background: rgb(245, 243, 243);
    padding: 2% 5%;
    /* padding-top:; */
}

.contact_search_box input {
    padding: 2% 5%;
    border-radius: 25px;
    height: 1.6em;
}

.contact_search_box button {
    border-radius: 25px;
    font-family: 'Satisfy', cursive;
}


/* 
.contact_search_box button:hover {
    cursor: pointer;
    background: gray;
}

.search_result p .contact {
    border-bottom: 1px solid black;
}

.search_result p .contact:last-child {
    border-bottom: 1px solid gray;
} */

.search_result p {
    color: green;
}

.search_result .contact:last-of-type {
    border-bottom: 1px solid gray;
    /* background-color: red;    */
}

.search_result .contact {
    animation: rotateX 1s;
}

.contact {
    background: rgb(245, 243, 243);
    border-top: 1px solid gray;
    /* border-bottom: 1px solid gray; */
    padding: 1%;
    transition: background .8s;
    /* position: relative; */
}

@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.contact:last-child {
    border-bottom: 1px solid gray;
}

.contact:hover {
    cursor: pointer;
    background: rgb(194, 188, 188);
}

.contact_div::-webkit-scrollbar {
    display: none;
}

.contact_icon {
    padding: 0%;
    margin: 0%;
    background: transparent;
    max-height: 55px;
    max-width: 55px;
    overflow: hidden;
}

.contact_icon img {
    padding: 0%;
    margin: 0%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.contact_title {
    background: transparent;
    padding-left: 4%;
    min-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.last_message_time {
    padding-right: 4%;
    text-align: center;
    background: transparent;
    min-height: 30px;
    font-weight: none;
    font-size: .9rem;
    letter-spacing: .1em;
    /* font-family: 'Pontano Sans', sans-serif; */
}

.online {
    animation: online 2s infinite;
}

@keyframes online {
    0% {
        color: rgb(11, 228, 11);
        /* font-size: .85em; */
        letter-spacing: .05em;
    }
    40% {
        color: gray;
        letter-spacing: 0em;
    }
    50% {
        color: gray;
        letter-spacing: 0em;
    }
    70% {
        color: gray;
        letter-spacing: 0em;
    }
    100% {
        color: rgb(11, 228, 11);
        letter-spacing: .05em;
    }
}

.last_message {
    background: transparent;
    min-height: 25px;
    padding-left: 4%;
    font-family: 'Satisfy', cursive;
}

.contact_detail {
    min-height: 55px;
    background: transparent;
    border-radius: 3px;
    transition: background .8s;
}

#user_header:hover {
    background-color: rgb(194, 188, 188);
    cursor: pointer;
}

.btn {
    background-color: transparent;
}

.btn:hover {
    color: #fff;
    cursor: pointer;
    background-color: rgb(194, 188, 188);
}


/* <<<<<<<<<<<<<<<<<<<<=================== Contact Div End here ================>>>>>>>>>>>>>> */


/* <<<<<<<<<<<<<<<<<<<<=================== Contact Header start here ================>>>>>>>>>>>>>> */


/* <<<<<<<<<<<<<<<<<<<<=================== Contact Header End here ================>>>>>>>>>>>>>> */


/* <<<<<<<<<<<<<<<<<<<<=================== Message div start here ================>>>>>>>>>>>>>> */


/* <<<<<<<<<<<<<<<<<<<<=================== Message Div End here ================>>>>>>>>>>>>>> */


/* <<<<<<<<<<<<<<<<<<<<=================== input box Div Start here ================>>>>>>>>>>>>>> */

.input_maindiv {
    background: linear-gradient(rgba(167, 151, 255, .01) 5%, rgba(0, 229, 255, .2) 100%);
}

.input_container {
    /* background: rgb(245, 243, 243); */
    /* background: black; */
    border-radius: 50px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    min-width: 510px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.input_div {
    padding: 1%;
    background-color: white;
    border-radius: 50px;
    position: relative;
}

.input_box {
    font-family: 'Satisfy', cursive;
    font-size: 1rem;
    padding-left: 10%;
    max-height: 100px;
    min-height: 10px;
    height: 30px;
    width: 80%;
    /* width: 100%; */
    outline: none;
    border: none;
    background-color: #fff;
    /* overflow-y: scroll; */
    resize: none;
}

.send_button {
    border-radius: 50%;
    margin-left: .5%;
    max-width: 60px;
    max-height: 60px;
    background-color: #fff;
    margin-left: 3%;
    right: 10%;
    bottom: 20%;
    padding: 12px;
}

.send_button img {
    width: 100%;
    /* height: 100%; */
}

.input_container img:hover {
    cursor: pointer;
}

.input_container .send_button:hover {
    background: linear-gradient(rgba(0, 229, 255, .5)0%, rgba(255, 143, 178, 0.5) 100%);
}

.input_div label:hover {
    background: linear-gradient(rgba(0, 229, 255, .5)0%, rgba(255, 143, 178, 0.5) 100%);
}

.input_div label {
    margin-left: 1%;
    width: 5%;
    height: 35px;
    padding: 3px;
    border-radius: 50%;
    background-color: transparent;
}

.input_div label img {
    width: 100%;
}


/* <<<<<<<<<<<<<<<<<<<<=================== input_box Div End here ================>>>>>>>>>>>>>> */